DB_SERVER=localhost,14333
DB_NAME=ProcurementWarehouseDB
DB_DRIVER={ODBC Driver 18 for SQL Server}
DB_TRUSTED_CONNECTION=no
DB_USERNAME=sa
DB_PASSWORD=CHANGE_ME_LOCAL_PASSWORD
DB_ENCRYPT=yes
DB_TRUST_SERVER_CERTIFICATE=yes
